# Nix
.nix-systemc/
result

# Mill / Chisel build
build/
out/
.metals
.bsp
.idea

# Build artifacts
tb/verilated/
tb/obj_verilated/
tb/obj/
tb/lib/
tb/build/
tb/*.vcd

# GDB
.gdb-dashboard

# direnv
.direnv
.vscode

# clangd
compile_commands.json
.cache
